name: Databricks DLT CI/CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Install Databricks CLI
      run: pip install databricks-cli

    # - name: Configure Databricks CLI
    #   run: |
    #     databricks configure --token <<EOF
    #     $DATABRICKS_HOST
    #     $DATABRICKS_TOKEN
    #     EOF
    - name: Configure Databricks CLI (Recommended)
      run: |
      export DATABRICKS_HOST=${{ secrets.DATABRICKS_HOST }}
      export DATABRICKS_TOKEN=${{ secrets.DATABRICKS_TOKEN }}
      databricks configure --token <<< "${DATABRICKS_HOST}"$'\n'"${DATABRICKS_TOKEN}"
    - name: Validate DLT Pipeline
      run: databricks pipelines validate --json-file dlt_pipeline/pipeline.json

    - name: Deploy DLT Pipeline
      run: databricks pipelines deploy --json-file dlt_pipeline/pipeline.json

    - name: Trigger Pipeline Run
      run: databricks pipelines start --pipeline-id dlt_supplychain_pipeline
