name: Databricks DLT CI/CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Install Databricks CLI v1.x
      run: |
        pip install databricks-cli --upgrade
        databricks -v

    - name: Configure Databricks CLI
      run: |
        mkdir -p ~/.databricks
        cat <<EOF > ~/.databricks/config
        host = "${{ secrets.DATABRICKS_HOST }}"
        token = "${{ secrets.DATABRICKS_TOKEN }}"
        EOF

    - name: Validate the DLT Deployment Bundle
      run: |
        databricks bundle validate -t dev

    - name: Deploy DLT Pipeline
      run: |
        databricks bundle deploy -t dev

    - name: Run DLT Pipeline
      run: |
        databricks bundle run -t dev
