name: Databricks Sync (Community Edition)

on:
  push:
    branches: ["main"]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Install Databricks CLI (new version)
      run: |
        curl -fsSL https://raw.githubusercontent.com/databricks/cli/main/install.sh | sh

    - name: Configure CLI Auth
      run: |
        databricks configure --host "${{ secrets.DATABRICKS_HOST }}" --token "${{ secrets.DATABRICKS_TOKEN }}"

    - name: Push Code to Databricks Repo
      run: |
        databricks repos update \
        --repo-id ${{ "/Users/chaitanya12223@gmail.com/Supplychain-DB" }} \
        --branch main
